click/node_modules
click/package-lock.json
click/package.json

cookie1/node_modules
cookie1/package-lock.json
cookie1/package.json

jwt/node_modules
jwt/package-lock.json
jwt/package.json

SQLInjection2/app/__pycache__