<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>XSS Game1</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1>XSS Game</h1>
    <form action="/" method="POST">
        <input type="text" name="input" placeholder="Try XSS attack">
        <button type="submit">Submit</button>
    </form>

    {% if result %}
    <div class="result">
        {{ result|safe }}
    </div>
    {% endif %}
    <p>XSSを発火させよう!</p>
    <p>発火出来たらFlagゲットです!!</p>
</body>
</html>
